.languages_and_education
  margin-bottom: 140px
  &__container
    display: flex
    flex-direction: row
    justify-content: space-between
.education
  &__cards
    display: flex
    flex-direction: column
    margin-bottom: 70px
    list-style: none
    padding: 0
  &__card
    list-style: none
    text-decoration: none
    color: inherit
    margin-bottom: 10px

  &__text
    color: inherit
    font-size: 20px
    line-height: 24px

