.education
  margin-bottom: 140px
  &__cards
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-template-rows: auto
    grid-column-gap: 20px
    grid-row-gap: 60px
    margin-bottom: 70px
.certificates
  display: flex
  justify-content: space-evenly
.certificate
  width: 277px
  height: 394px
  object-fit: cover
.site
  color: inherit
